@import 'breakpoints.scss';
@import 'variables.scss';
@import 'price.scss';

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

span,
img,
i {
  display: inline-block;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: $base-font-size;
  color: $basic-font-color;
  background-color: $background;
}

body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 18px;
  overflow-x: hidden;
  @include for-medium-screen {
    margin: 60px 40px;
  }
}
