.price-card {
  flex-basis: 380px;
  overflow: hidden;
  background-color: $price-card-color;
  box-shadow: 0px 6px 6px 0px #00000016;
  @include for-large-screen {
    height: 770px;
  }

  &_blue {
    position: relative;
  }

  &__popular-tag {
    position: absolute;
    transform: rotate(45deg);
    top: 31px;
    right: -31px;
    width: 147px;
    height: 25px;
    background-color: #dc3f45;
    text-align: center;
  }

  &__popular-text {
    line-height: 25px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__title {
    margin: 33px 0;
    text-align: center;
  }

  &__prime-text {
    line-height: 43px;
    font-size: 35px;
    font-weight: 700;
  }

  &__sub-text {
    line-height: 24px;
    font-size: 20px;
  }

  &__price {
    height: 105px;
    line-height: 105px;
    font-size: 55px;
    font-weight: 700;
    text-align: center;

    &_green {
      background-color: $green-color;
    }

    &_blue {
      background-color: $blue-color;
    }

    &_orange {
      background-color: $orange-color;
    }
  }

  &__list-styles,
  &__description {
    line-height: 18px;
    font-size: 15px;
    font-weight: 300;
  }

  &__description {
    margin: 40px 26px;
    text-align: center;
  }

  &__option {
    height: 50px;
    line-height: 50px;
    list-style-type: none;

    &_dark {
      background-color: $dark-option-color;
    }
  }

  &__option-check {
    margin: 0 22px;
    width: 15px;
    height: 13px;

    &_green {
      background-image: url(./icons/green-checkmark.svg);
    }

    &_blue {
      background-image: url(./icons/blue-checkmark.svg);
    }

    &_orange {
      background-image: url(./icons/orange-checkmark.svg);
    }
  }

  &__order-btn {
    display: block;
    margin: 39px auto 40px;
    width: 154px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: $basic-font-color;
    font-size: 14px;
    text-transform: uppercase;

    &_green {
      background-color: $green-color;
    }

    &_blue {
      background-color: $blue-color;
    }

    &_orange {
      background-color: $orange-color;
    }
  }
}
