.price-card {
  overflow: hidden;
  flex-basis: 380px;
  height: 770px;
  background-color: #334247;
  box-shadow: 0px 6px 6px 0px #00000016;

  &__popular-tag {
    width: 147px;
    height: 25px;
    position: absolute;
    top: 31px;
    right: -31px;
    text-transform: uppercase;
    background-color: #dc3f45;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    transform: rotate(45deg);
  }
  &_blue {
    position: relative;
  }

  &__title {
    text-align: center;
    margin: 33px 0;
  }

  &__prime-text {
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
  }

  &__sub-text {
    font-size: 20px;
    line-height: 24px;
  }

  &__price {
    height: 105px;
    text-align: center;
    font-size: 55px;
    line-height: 105px;
    font-weight: 700;

    &_green {
      background-color: $green-color;
    }

    &_blue {
      background-color: $blue-color;
    }

    &_orange {
      background-color: $orange-color;
    }
  }

  &__list-styles,
  &__description {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
  }

  &__description {
    text-align: center;
    margin: 40px 26px;
  }

  &__option {
    list-style-type: none;
    height: 50px;
    line-height: 50px;

    &:nth-child(odd) {
      background-color: #2a343880;
    }
  }

  &__option-check {
    width: 15px;
    height: 13px;
    margin: 0 22px;

    &_green {
      background-image: url(../icons/green-checkmark.svg);
    }

    &_blue {
      background-image: url(../icons/blue-checkmark.svg);
    }

    &_orange {
      background-image: url(../icons/orange-checkmark.svg);
    }
  }

  &__order-btn {
    width: 154px;
    height: 40px;
    display: block;
    margin: 39px auto 40px;
    border: none;
    border-radius: 20px;
    color: $basic-font-color;
    text-transform: uppercase;
    font-size: 14px;

    &_green {
      background-color: $green-color;
    }

    &_blue {
      background-color: $blue-color;
    }

    &_orange {
      background-color: $orange-color;
    }
  }
}
